button{
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 50px;
    border: none;
    color: var(--A100);
    margin: auto;
    width: 150px;
    margin-bottom: 0.5rem;
    transition: 250ms;
    &:hover{
        scale: 1.025;
        outline: 2px solid white;
        box-shadow: 0rem 0rem 1rem rgba(25,29,41, 0.5);
    }
}


// button{
//     cursor: pointer;
//     padding-top: 0.5rem;
//     padding-bottom: 0.5rem;
//     padding-left: 0.8rem;
//     padding-right: 0.8rem;
//     border-radius: 8px;
//     border: none;
//     color: var(--A100);
//     margin: auto;
//     width: 150px;
//     margin-bottom: 0.5rem;
//     background-image: linear-gradient(135deg, var(--O1), var(--O2));
//     &:hover{
//         background-image: linear-gradient(135deg, var(--O1), var(--O3));
//         font-weight: 600;
//     }
// }


.pointer{
  cursor: pointer;
}


.editBtn{
    cursor: pointer;
    border: 4px solid var(--A100);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5rem;
    p{
        font-size: 1.3rem;
    }
}


.editBtn{
    cursor: pointer;
    border: 4px solid var(--A100);
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5rem;
    p{
        font-size: 1.3rem;
    }
}


.action{
    padding: 0.3rem;
    color: white;
    display: flex;
    background-color: var(--A50);
    width: 30px;
    height: 30px;
    font-size: 2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.3rem;
  bottom: 0.18rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: rgb(255, 0, 179);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0.8rem);
  -ms-transform: translateX(0.8rem);
  transform: translateX(0.8rem);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.carousel-btn-container{
  display: flex;
  >*{
    margin: auto;
  }
}


.dangerzone{
  display: flex;
  border: 2px solid var(--ALERT1);
  justify-content: center;
  align-items: center;
}

