.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    background-color: white;
    box-shadow: 
    0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.talent{
    height: 65px;
}





.project{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0;
    .project-banner{
        width: 100%;
        height: 150px;
        margin: 0;
        border-radius: 8px;
    };
    .project-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        >*{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}




.central{
    display: flex;
    >*{
        display: flex;
        justify-content: center;
    }
}




.action{
    padding: 0.3rem;
    color: white;
    display: flex;
    background-color: var(--A50);
    width: 30px;
    height: 30px;
    font-size: 2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
}