
:root {
    // TALENT
    --DB1: rgb(0, 75, 200);
    --DB15: rgb(0, 60, 175);
    --DB2: rgb(0, 35, 150);

    --B1: rgb(0, 125, 190);
    --B2: rgb(0, 70, 175);

    --LB1: rgb(90, 200, 230);
    --LB15: rgb(67, 165, 230);
    --LB2: rgb(45, 130, 230);

    --PU1: rgb(100, 0, 100);
    --PU15: rgb(80, 0, 88);
    --PU2: rgb(60, 0, 75);

    --PI1: rgb(250, 0, 150);
    --PI15: rgb(188, 0, 125);
    --PI2: rgb(125, 0, 100);

    --O1: rgb(250, 175, 0);
    --O15: rgb(250, 138, 0);
    --O2: rgb(250, 100, 0);
    --O25: rgb(250, 70, 0);
    --O3: rgb(250, 35, 0);


    // RECRUITER
    --GR1:rgb(50, 210, 100);
    --GR2:rgb(40, 170, 90);
    --GR3:rgb(30, 130, 80);
    --GR4:rgb(20, 90, 70);
    --GR5:rgb(10, 50, 60);
    --GR6:rgb(0, 32, 50);


    // THEME
    --A100: rgb(250, 255, 255);
    --A95:rgb(242,246, 245);
    --A90:rgb(234, 236, 235);
    --A80:rgb(211,215,227);
    --A70:rgb(184,195,213);
    --A60:rgb(154,165,187);
    --A50:rgb(109,119,144);
    --A40:rgb(80,92,116);
    --A30:rgb(60,70,95);
    --A20:rgb(46,57,75);
    --A15:rgb(41,50,68);
    --A10:rgb(35,42,61);
    --A0:rgb(25,29,41);
}



// BG COLORS TALENT
.bg-gDB{
    background-image: linear-gradient(135deg, var(--DB1), var(--DB2));
}
.bg-gB{
    background-image: linear-gradient(135deg, var(--B1), var(--B2));
}
.bg-gLB{
    background-image: linear-gradient(135deg, var(--LB1), var(--LB2));
}
.bg-gPU{
    background-image: linear-gradient(135deg, var(--PU1), var(--PU2));
}
.bg-gPI{
    background-image: linear-gradient(135deg, var(--PI1), var(--PI2));
}
.bg-gO{
    background-image: linear-gradient(135deg, var(--O1), var(--O2));
}
.bg-gA{
    background-image: linear-gradient(135deg, var(--A30), var(--A0));
}

// BG COLORS RECRUITER
.bg-gGR1{
    background-image: linear-gradient(135deg, var(--GR1), var(--GR2));
}
.bg-gGR2{
    background-image: linear-gradient(135deg, var(--GR2), var(--GR3));
}
.bg-gGR3{
    background-image: linear-gradient(135deg, var(--GR3), var(--GR4));
}
.bg-gGR4{
    background-image: linear-gradient(135deg, var(--GR4), var(--GR5));
}
.bg-gGR5{
    background-image: linear-gradient(135deg, var(--GR5), var(--GR6));
}



// FONT COLORS TALENT

.c-DB2{ color: var(--B2) }
.c-LB2{ color: var(--LB15) }
.c-O2{ color: var(--O15) }
.c-PI1{ color: var(--PI1) }
.c-PI15{ color: var(--PI15) }
.c-PU1{ color: var(--PU1) }
.c-PU2{ color: var(--PU2) }



// FONT COLORS RECRUITER
.c-GR1{ color: var(--GR1) }
.c-GR3{ color: var(--GR3) }
.c-GR5{ color: var(--GR5) }


// FONT COLORS THEME
.c-A0{  color: var(--A0) }
.c-A10{ color: var(--A10) }
.c-A20{ color: var(--A20) }
.c-A30{ color: var(--A30) }
.c-A40{ color: var(--A40) }
.c-A50{ color: var(--A50) }
.c-A60{ color: var(--A60) }
.c-A70{ color: var(--A70) }
.c-A80{ color: var(--A80) }
.c-A90{ color: var(--A90) }
.c-A100{ color: var(--A100) }




.bg-FAV{background-image: linear-gradient(135deg, var(--A30), var(--A0));}
.c-FAV{color: var(--O15);}


.b1-FAV{border: 1px solid var(--O15)}
.b2-FAV{border: 2px solid var(--O15)}



.bgG{
background-image: linear-gradient(135deg, var(--A30)10%, var(--A0)90%);
color: var(--A80);
}
#bgG{
background-image: linear-gradient(135deg, var(--A30)10%, var(--A0)80%);
color: var(--A80);
}


.bo-DARK{
    margin-top: 3rem;
    border-bottom: 1px solid var(--A60);
    margin-bottom: 3rem;
}



.out1-FAV{
    outline: 1px solid var(--FAV);
}
.out2-FAV{
    outline: 2px solid var(--FAV);
}
.out3-FAV{
    outline: 3px solid var(--FAV);
}





// HELPER
.x{ border: 2px solid red }
.y{ border: 2px solid lightseagreen }
.z{ border: 2px solid greenyellow }

.xx{
    >*{
        border: 2px solid orangered;
    }
}
.yy{
    >*{
        border: 2px solid lime;
    }
}
.zz{
    >*{
        border: 2px solid purple;
    }
}

