.logoContainer{
  display: flex;
  justify-content: center;
}


// .rightcorner{
//   position: absolute;
//   bottom: -20vw;
//   right: 15vw;
// }

.logoL-congrats{
  align-items: center;
  >img{
      width: 10rem;
  }
  position: absolute;
  bottom: -20vw;
  left: 10vw;
}

.logoXL-congrats{
  align-items: center;
  >img{
      width: 25rem;
  }

  // position: absolute;
  // bottom: -20vw;
  // right: 15vw;
}
.logoXXL-congrats{
  align-items: center;
  >img{
      width: 40rem;
  }


}
.one{
  position: absolute;
  top: 10vw;
  left:12vw;
}



