.congrats_container{
  position: relative;
  width: 70vw;
  max-height:80vh;
  border: 3px solid hotpink;
}

.logo_blue{
  position:absolute;

  >img{
    width:110%
   }
}
.logo_lightblue{
 position: absolute;
 >img{
  width:10rem
 }



}
.logo_orange{

}

.logo_purple{

}
.logo_pink{

}

.logoL-congrats{
  align-items: center;
  >img{
      width: 10rem;
  }
  position: absolute;
  bottom: -20vw;
  left: 10vw;
}

.logoXL-congrats{
  align-items: center;
  >img{
      width: 25rem;
  }

  // position: absolute;
  // bottom: -20vw;
  // right: 15vw;
}
.logoXXL-congrats{
  align-items: center;
  >img{
      width: 40rem;
  }


}
.one{
  position: absolute;
  top: 10vw;
  left:12vw;
}



