.logoContainer{
  display: flex;
  justify-content: center;
}


.logoL{
  align-items: center;
  >img{
      width: 10rem;
  }
  position: absolute;
  bottom: -20vw;
  left: 10vw;
  animation:  uplifting 5s ease-in 4s 1 forwards;
  // animation: spinHorizontal  3s  linear;
}

.logoXL{
  align-items: center;
  >img{
      width: 25rem;
  }

  position: absolute;
  bottom: -20vw;
  right: 10vw;
  animation:  uplifting 5s ease-in 4s 1 forwards;
  // animation: spinHorizontal  3s  linear;
}
.logoXXL{
  align-items: center;
  >img{
      width: 25rem;
  }

  position: absolute;
  bottom: -30vw;
  animation:  uplifting 10s ease-in 4s 1 forwards;
  // animation: spinHorizontal  3s  linear;

}

@keyframes uplifting {
  0% {
    display: none;
    transform: scaleY(90deg);
  }
  10% {
    bottom: -10%;
    transform: scaleY(1800deg);
  }
  100% {
    bottom: 75%;
    transform: scaleY(45000deg);
  }
}

@keyframes spinHorizontal {
  0% { transform: rotateY(0deg); }
  10% {
    bottom: -10%;
  }
  100% {
    bottom: 75%;
  }
  100% { transform: rotateY(720deg); }
}
