.congrats_container{
  position: relative;
  width: 70vw;
  min-height: 70vh;
  max-height:70vh;
  // border: 3px solid hotpink;
}
h1{
  text-align: center;
}
h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.logo_blue{
  position: absolute;
top:2%;
width:38%;
margin-left:20%;
  >img{
    width:100%
   }
}
.logo_lightblue{
  position: absolute;
  top:3%;
  left:21%;
  width:36%;
  margin-left:25%;
    >img{
      width:100%
     }
}
.logo_orange{
  position: absolute;
  top:26%;
  left:12%;
  width:30%;
    >img{
      width:100%
     }
}

.logo_purple{
  position: absolute;
  top:30%;
  left:35%;
  width:30%;
    >img{
      width:100%
     }

}
.logo_pink{
  position: absolute;
  top:30%;
  left:57%;
  width:30%;
    >img{
      width:100%
     }
}

.logoL-congrats{
  align-items: center;
  >img{
      width: 10rem;
  }
  position: absolute;
  bottom: -20vw;
  left: 10vw;
}

.logoXL-congrats{
  align-items: center;
  >img{
      width: 25rem;
  }

  // position: absolute;
  // bottom: -20vw;
  // right: 15vw;
}
.logoXXL-congrats{
  align-items: center;
  >img{
      width: 40rem;
  }


}
.one{
  position: absolute;
  top: 10vw;
  left:12vw;
}



