.circle15{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.circle20{
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.circle30{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.circle40{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.circle50{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.circle60{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.circle70{
    width: 70px;
    height: 70px;
    border-radius: 70px;  
}
.circle80{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.circle90{
    width: 90px;
    height: 90px;
    border-radius: 90px;
}
.circle100{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}




.tile60{
    width: 60px;
    height: 60px;
    border-radius: 8px;
}
.tile80{
    width: 80px;
    height: 80px;
    border-radius: 8px;
}


input[type=text],
input[type=file],
input[type=email],
input[type=password],
select{
    background-color: rgb(242,246, 245);
    border: none;
    outline: 1px solid rgba(255,255,255,0);
    text-decoration: none;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 3rem;
    transition: 0.4s;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
select:hover{
    outline: 1px solid var(--A50);
}



// RADIO
input[type=radio]{
    appearance: none;
    margin-top: 3px;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--O2);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type=radio]::before {
    content:"";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.12s transform ease-in-out;
    box-shadow: inset 1em 1em var(--O2);
}

input[type=radio]:checked::before {
    transform: scale(1);
}

//RADIO FRAME
// input[type=radio]:focus {
//   outline: 1px solid var(--O2);
//   outline-offset: 2px;
// }


// FILE
input[type=file]{
    background-color: rgb(248, 248, 248);
    border: none;
    outline: 1px solid rgba(255,255,255,0);

}
input[type=file]::before {
    content:"";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.12s transform ease-in-out;
    box-shadow: inset 1em 1em var(--O2);
}


.up-icon{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--A60);
    background-color: white;
}



.colorCard{
    border: 1px solid var(--A60);
    border-radius: 2rem;
    padding: 0.85rem;
    gap: 0.85rem;

    input[type=radio]{
        appearance: none;
        margin-top: 2px;
        border: none;
        display: grid;
        place-content: center;
    }
    input[type=radio]:before{
        content:"";
        transform: scale(0);
    }
    input[type=radio]:focus {
        outline: 1px solid var(--A60);
        outline-offset: 7px;
    }
}




// N I C H T   L Ö S C H E N

// [title]:hover:after {
//     opacity: 1;
//     transition: all 0.1s ease 0.5s;
//     visibility: visible;
// }
// [title]:after {
//     content: attr(title);
//     background-color: var(--A100);
//     border-radius: 8px;
//     color: var(--A60);
//     position: absolute;
//     padding: 0.25rem 0.5rem;
//     left: 100%;
//     white-space: nowrap;
//     font-size: 0.9rem;
//     box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
//     opacity: 0;
//     z-index: 1;
//     visibility: hidden;
// }


.wide{
    display: flex;
    width: 500px;
}

.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thumbnailS{
    display: flex;
    position: relative;
    height:250px;
    background-color: var(--A60);
    border-radius: 8px;
    *{
        display: flex;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        cursor:pointer;
        font-size: 2rem;
        color: var(--A100);
    }
}


.dot{
    width: 17px;
    height: 17px;
    left: -1.5rem;
    bottom: -0.5rem;
    outline: 2px solid var(--A100);
}


.shadow-s{
  box-shadow: 0rem 0rem 1rem rgba(25,29,41, 0.2);
}
.shadow-l{
  box-shadow: 0rem 0rem 1rem rgba(25,29,41, 0.5);
}