button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 50px;
    border: none;
    color: var(--A100);
    margin: auto;
    width: 150px;
    margin-bottom: 0.5rem;
}


.componente{
    border: 1px solid grey;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
