
.rel{
    display: flex;
    position: relative;
}
.abs{
    display: flex;
    position: absolute;
}

.col{
    display: flex;
    flex-direction: column;
}



.r8{
    border-radius: 8px;
}




.mt05{
    margin-top: 0.5rem;
}
.mt1{
    margin-top: 1rem;
}
.mt15{
    margin-top: 1.5rem;
}
.mt2{
    margin-top: 2rem;
}


.mb05{
    margin-bottom: 0.5rem;
}
.mb1{
    margin-bottom: 1rem;
}
.mb15{
    margin-bottom: 1.5rem;
}
.mb2{
    margin-bottom: 2rem;
}


.mr05{
    margin-right: 0.5rem;
}
.mr1{
    margin-right: 1rem;
}
.mr15{
    margin-right: 1.5rem;
}
.mr2{
    margin-right: 2rem;
}


.ml05{
    margin-left: 0.5rem;
}
.ml1{
    margin-left: 1rem;
}
.ml15{
    margin-left: 1.5rem;
}
.ml2{
    margin-left: 2rem;
}


.pa1{
    >*{
        padding: 1rem;
    }
}



.flex{
    display: flex;
}




.central{
    display: flex;
    justify-content: center;
    align-items: center;
}


.w10{
    >*{width: 10%}
}
.w20{
    >*{width: 20%}
}
.w30{
    >*{width: 30%}
}
.w40{
    >*{width: 40%}
}
.w50{
    >*{width: 50%}
}
.w60{
    >*{width: 60%}
}
.w70{
    >*{width: 70%}
}
.w80{
    >*{width: 80%}
}
.w90{
    >*{width: 90%}
}
.w100{
    >*{width: 100%}
}

