.logoContainer{
    display: flex;
    justify-content: center;
}

.logoS{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.logoL{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}

.efjm{
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
}