.logoContainer{
    display: flex;
    justify-content: center;
}


.logoL{
    align-items: center;
    >img{
        width: 10rem;
    }
    h1{
        font-size: 2.5rem;
        font-weight: 900;
    }
}


.logoS{
    align-items: center;
    >img{
        width: 3.2rem;
    }
    h1{
        font-size: 1.2rem;
        font-weight: 900;
    }
}


.efjm{
    align-items: center;
    border-radius: 3rem;
    padding: 0.2rem;
    width: 3rem;
    color: white;
    font-weight: 900;
    >img{
        display: flex;
        object-fit: contain;
        width: 100%;
    }
    .whity{
        width: 90%;
        border: 1px solid white;
        border-radius: 3rem;
    }

}