.logoContainer{
    display: flex;
    justify-content: center;
}


.logoL{
    align-items: center;
    >img{
        width: 8rem;
    }
    h1{
        font-size: 2.5rem;
        font-weight: 900;
    }
}


.logoM{
    align-items: center;
    >img{
        width: 6rem;
    }
    h1{
        font-size: 1.7rem;
        font-weight: 900;
    }
}



.logoS{
    cursor: pointer;
    align-items: center;
    >img{
        width: 4rem;
    }
    h1{
        font-size: 1.2rem;
        font-weight: 900;
    }
}

.logoNav{
    display: flex;
    position: relative;
    >img{
        position: absolute;
        width: 2.5rem;
        top: -0.8rem;
    }
    h1{
        padding-left: 3rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
}



.efjm{
    align-items: center;
    border-radius: 3rem;
    padding: 0.2rem;
    width: 3rem;
    color: white;
    font-weight: 900;
    >img{
        display: flex;
        object-fit: contain;
        width: 100%;
    }
    .whity{
        width: 90%;
        border: 1px solid white;
        border-radius: 3rem;
    }
}

.logo-container{
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 1.2rem;
    width: 50px;
    height: 50px;
    margin-top: 0.1rem;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    img{
        margin: 0.3rem 0.3rem 0.2rem 0.6rem;
    }
}
.logo-HL{
    display: flex;
    position: absolute;
    margin-left: 3.4rem;
    font-size: 1.25rem;
    font-weight: 700;
}
