.navbar-container{
    display: flex;
    // position: sticky;
    justify-content: space-between;
    top: 0;
    border-bottom: 1px solid var(--A60);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    z-index:10;
    .navbar-left{
        display: flex;
        font-size: 1.5rem;
    }
    .navbar-right{
        display: flex;
        position: relative;
        font-size: 1.5rem;
        gap: 3rem;
    }
}

.signal{
    display: flex;
    position: absolute;
    bottom: 0;
    right: -10px;
    >*{
        font-size: 0.7rem;
        font-weight: 700;
    }
}

.sidebar-container{
    height: 78%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 30;
    .sidebar{
    }
}