.news-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.3);
    .news{
        width: 100%;
        border-radius: 8px;
        .news-banner{
            height: 350px;
            width: 100%;
            border-radius: 8px 8px 0 0;
            display: flex;
            overflow: hidden;
            .news-image-container{
                // border: 2px solid rgb(255, 0, 255);
                display: flex;
                width: 100%;
                justify-content: center;
                object-fit: contain;
                >img{
                    width: 100%;
                    // border: 2px solid greenyellow;
                }
            }
        };
    }

    .news-body{
        display: flex;
        position: relative;
        width: 100%;
        height: 115px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 0 0 8px 8px;
        >*{
            margin-top: 0.8rem;
            margin-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .star{
            display: flex;
            position: absolute;
            width: 100%;
            bottom: -2.1rem;
            >*{
                background-color: white;
                box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.3);
            }
        }
    }
}


.members-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .members{
        display: flex;
        position: absolute;
        right: 2rem;
        top: -1.8rem;
        >*{
            cursor: pointer;
            display: flex;
            gap: 2rem;
            .members-image-container{
                display: flex;
                overflow: hidden;
                height: 55px;
                width: 55px;
                border-radius: 40px;
                outline: 4px solid white;
                margin-bottom: 1rem;
                box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.3);
                >img{
                    object-fit: cover;
                    width: 110%;
                    height: 110%;
                }
            }
        }
    }
}

