.newsfeed-card{
  border-bottom: 1px solid var(--A40);
  padding:2rem 0;
  h2{
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}

.head{
  border: 3px solid var(--A100);
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  .head-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.player{
  max-width: 100%;
  min-width: 90%;
  margin-top: .5rem;
}

