.my-card{
  height: fit-content;
  width: fit-content;

}
.my-timeline{
color:red
}
.stone-card{
  height:500px;
}

.project-details-container{
  border: 2px solid greenyellow;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
