.my-card{
  height: fit-content;
  width: fit-content;

}
.absolute{
  width:100%;
  min-height:100vh
}
.my-timeline{
color:red
}
.stone-card{
  height:500px;
}

.stone-card-container{
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.stone-card-media{
  display: flex;
  object-fit: cover;
  img{
    width: 100%;
  }
}

.image-container-other{
  position: sticky;
  top:10px;
  left:20px;
  width:90%;
  max-height:600px;
  z-index: 2;
  overflow: hidden;
}

.img-other{
  width: 100%;
  height: 100%;
}