// .timeline-content{
//   // height: 500px;
// }
// .card-description{
//   // height: 500px;
// }

.my-card{
  height: fit-content;
  width: fit-content;

}
.my-timeline{
color:red
}
.stone-card{
  height:500px;
}