.talent-container{
    display: flex;
    gap: 0.75rem;
}

.t-card{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 175px;
    height: 280px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0.4rem 0.4rem 1rem var(--A80);
    overflow:hidden;
    &:hover{
        transition: 100ms;
        transition-timing-function: ease-in-out;
        scale: 1.025;
        .t-avatar{
            .t-pic{
                scale: 1.1;
                transition: 250ms;
                top: -0.75rem;
                transition-timing-function: ease-in-out;
            }
        }
    }
    .curve{
        position: absolute;
        top: 0;
        width: 200px;
        height: 100px;
        border: 50%;
        clip-path: ellipse(100% 70% at 50% -10%);
    }
    >*{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .t-avatar{
        display: flex;
        position: relative;
        .t-pic{
            display: flex;
            position: absolute;
            overflow: hidden;
            top: -1rem;
            width: 100px;
            height: 95px;
            border-radius: 0 0 50px 50px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .t-info{
        margin-top: 5rem;
    }
    .t-community{
        display: flex;
        position: absolute;
        bottom: -0.5rem;
        flex-direction: row;
        >*>*{
            transition: 150ms;
            transition-timing-function: ease-in-out;
        }
        :hover{
            box-shadow: 0rem 0rem 0.5rem rgba(25,29,41, 0.0);
        }
    }
}



.t-cardS{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--A80);
    &:hover{
        transition: 100ms;
        transition-timing-function: ease-in-out;
        scale: 1.025;
    }
    >*{
        align-items: center;
        margin-bottom: 1rem;
    }
    .t-pic{
        display: flex;
        overflow: hidden;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        margin-right: 0.7rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .t-community{
        margin-top: -0.8rem;
        display: flex;
        flex-direction: row;
        >*>*{
            transition: 150ms;
            transition-timing-function: ease-in-out;
        }
        :hover{
            box-shadow: 0rem 0rem 0.5rem rgba(25,29,41, 0.0);
        }
    }
}













.ctas{
    display: flex;
    position: absolute;
    bottom: -4rem;
    padding: 0.3rem;
    border: 5px solid white;
    width: 100%;
    padding: 1.5rem;
    background-image: linear-gradient(var(--A50), var(--A80));
    border-radius: 2rem;

    display: flex;
    flex-direction: row;
    height: 30px;
    .cta-left{
        width: 50%;
        background-image: linear-gradient(90deg, var(--60), var(--100));
        border-radius: 50px 8px 8px 50px;
    }
        .cta-right{
        width: 50%;
        background-image: linear-gradient(90deg, var(--60), var(--100));
        border-radius: 8px 50px 50px 8px;
    }
}