.sticky-container{
  display: flex;
  align-items: center;
  position:sticky;
  bottom: 1rem;
  justify-content: center;
  align-items: center;
  .sticky-buttons{
    display: flex;
    padding: 0.75rem;
    border-radius: 50px;
    gap: 0.5rem;
    button{
      margin-bottom: 0;
    }
  }
}