#root {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--A40);
}

/* dark */
.root-dark{
  background-color: #333;
  color: #fff;
}

.root-light{
  background-color: #fff;
  color: #333;
}
.App-dark{

  background-color: #333;
}

.App-light{
  background-color: #fff;
  padding: 20px;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
