#root {
  color: var(--A40);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  position: relative;
}

.App{
  height: 100vh;
  width: 100vw;
  padding:0 2rem 0 2rem;
  background-image: linear-gradient(135deg, rgb(250, 255, 255)20%, rgb(242,246, 245)40%, rgb(211,215,227));
}

.player{
  width: 400px;
}