#root {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--A40);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  position: relative;
  background-color: var(--A100);
}